
@import "./variables";


* { margin: 0; padding: 0; border: 0; outline: 0; vertical-align: baseline; background: transparent; box-sizing: border-box; }
html, body { height: 100%; width: 100%; font-family: "PingFang SC", "Microsoft Yahei", Arial, fangsong; font-size: 16px;}
#app {
  padding: 20px 20px 0 20px;
}

.ant-layout-content {
  height: calc(100vh - 87px);
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
}

.content {
  padding: 10px 0 20px 20px;
}

.headerTitle {
  font-weight: 800;
}